:host {
    display: block;
    height: 60px;
}

.navbar {

    .logo {
        display: block;
        margin: 10px 5px 0 0;
        padding: 0;
        text-align: center;
        color: $header-logo-color;
        background: $header-logo-background;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: $header-logo-size;
        width: $header-logo-size;
        height: $header-logo-size;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
    }

    .navbar-right {
        li {
            a {
                color: $nav-link-color;
                padding: $nav-link-padding;

                &:hover {
                    color: $nav-link-color-hover;
                }
            }
        }

        .networks {
            margin-left: 10px;
        }
    }
}
