<h1>Contact Form</h1>
<!--<div class="row">
	<div class="large-6 columns">
		<h3>Amazing.com Headquarters</h3>
		<p>300 W. 6th Street</p>
		<p>Suite 1960</p>
		<p>Austin, TX 78701</p>
		<p><a href="mailto:support@amazing.com" title="Amazing.com | Support">support@amazing.com</a></p>

		<br><br>

		<h3>International Office</h3>
		<p>Amazing Global Ventures</p>
		<p>Unit F,</p>
		<p>Digital Hub,</p>
		<p>Roe Lane,</p>
		<p>Dublin 8</p>
		<p><a href="mailto:support@amazing.com" title="Amazing.com | Support">support@amazing.com</a></p>
	</div>
	<div class="large-6 columns">
		<h3>Contact Us</h3>
		<p>Have questions? Just want to say hi? Do it here.</p>
		<form novalidate (submit)="onSubmit(contactForm)" [formGroup]="contactForm">
			<div class="row">
				<div class="large-6 columns">
					<input type="name" id="firstname" name="firstname" placeholder="First Name" formControlName="firstname">
				</div>
				<div class="large-6 columns">
					<input type="name" id="lastname" name="lastname" placeholder="Last Name" formControlName="lastname">
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<input type="email" id="email" name="email" placeholder="Email" formControlName="email">
					<div class="form-error"
						*ngIf="contactForm.get('email').touched && contactForm.get('email').hasError('required')">
						Email is required.
					</div>
					<div class="form-error"
						*ngIf="contactForm.get('email').touched && contactForm.get('email').hasError('emailFormatInvalid')">
						Email format is invalid.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<textarea type="text" id="description" name="description" placeholder="Message" formControlName="description"></textarea>
					<div class="form-error"
						*ngIf="contactForm.get('description').touched && contactForm.get('description').hasError('required')">
						Message is required.
					</div>
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<span *ngIf="showMessage">Thank you for contacting us. You will receive a reply back shortly.</span>
					<button class="amazing-btn" type="submit" name="Submit">Send Message</button>
				</div>
			</div>
		</form>
	</div>
</div>-->
