a {
    text-decoration: none;
    display: inline-block;
    padding: 3px 0;

    img {
        width: $footer-webpack-logo-size;
        height: $footer-webpack-logo-size;
        margin: 0 2px 2px 4px;
    }
}
