
// Header
$header-logo-background: #FFF;
$header-logo-color: #101010;
$header-logo-size: 40px;
$header-shadow: rgba(0, 0, 0, 0.25);

// Footer
$footer-angular-logo-size: 22px;
$footer-webpack-logo-size: 18px;
